
<div class="sidenav">
    <div class="login-main-text  " >
       <h2><b>Domorespices</b></h2>
       <p>Create your inventry.</p>
       <form  [formGroup]="inventryForm" #userForm="ngForm" >
        
        <div formArrayName="hotelFoods"  *ngFor="let foods of inventryForm.controls.hotelFoods.controls; let i = index">
          <div *ngIf="!foodTypeBoolean">  
          <div class="form-group" *ngIf="inventryForm.valid">
                <div class="col-md-offset-2 col-md-4 col-sm-12">
                  <button type="button" [disabled]="inventryForm.get('hotelFoods').invalid" class="btn btn-secondary float-center" 
                   (click)="addFoodTypeButtonClick(i)">
                    Add FoodType
                  </button>
                </div>
              </div>
            </div> 
            <button type="button" *ngIf="inventryForm.get('hotelFoods').length>1" class="btn btn-danger btn-s float-right delete" 
                    title="Delete item" (click)="removeFoodType(i)">
              X
        </button>
          <div [formGroupName]="i" class="phone p-3 mt-3 borderForm">
           <div class="form-group" >
            <label >Food Type</label>
           <div class="form-group">
             
              <select formControlName="foodtype" class="form-control" id="sel1">
                <option class="form-control" value="" selected disabled>Select food type</option>
                <option [disabled]="disableBreakFast">BREAKFAST</option>
                <option [disabled]="disableLunch">LUNCH</option>
                <option [disabled]="disableDinner">DINNER</option>
              </select>
            </div>
            <span class="text-danger" id="password" *ngIf="foods.get('foodtype').errors?.required&&userForm.submitted">
              Food Type is required
            </span>
          </div>
          <label>Food Name</label> <label class="detailsheading ">Food Price</label>
        <div formArrayName="foodDetails"  *ngFor="let itemDetails of foods.controls.foodDetails.controls; let j = index">
        <div [formGroupName]="j" class="">
          <div class="col-sm-12 col-md-12" *ngIf="foods.get('foodDetails').length>1">
            <button type="button" class="btn btn-danger btn-md float-right"
                    title="Delete Skill" (click)="removeFoodDetilas(i,j)">
              <span class="glyphicon glyphicon-remove"></span>X
            </button>
          </div>  
          
      <div class="form-group input items " style="display:inline-block;" >
        
        <input type="text"  class="form-control form-control-m " 
        formControlName="food"  placeholder="Food Name" required>

        <span class="text-danger help-block ml-5" id="password" *ngIf="itemDetails.get('food').errors?.required&&userForm.submitted">
          Food Name is required
        </span> 
      </div>
      <div class="form-group second" style="display:inline-block; ">
        
        <input type="text"  class="form-control form-control-m ml-3" required 
        formControlName="price"  placeholder="Price">
        <span class="text-danger help-block ml-5" id="password" *ngIf="itemDetails.get('price').errors?.required&&userForm.submitted">
          Food Price is required
        </span> 
      </div>
      
  </div>
 
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
          <button type="button" class="btn btn-secondary "  (click)="addFoodItemsButtonClick(i)">
            Add Item
          </button>
        </div>
      </div>
    </div>
        </div>

<div class="col-md-11 text-center float-center mt-2">
  <button type="submit" (click)="createInventry()" class=" btn btn-block mybtn btn-primary tx-tfm">Submit</button>
</div>
<div *ngIf="selected" class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
  <strong>This is the last type!!</strong>You can add items above based on food types... 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> 
</form>
      
    </div>
</div> 