<!--The content below is only a placeholder and can be replaced.-->
<div class="sidenav">
  <div class="login-main-text">
     <h2><b>Domorespices</b></h2>
     <p>Login or register from here to access.</p>
  </div>
</div>

<div class="main align-item-center">
  <div class="col-md-8 col-sm-12">
    <div class="login-form myform">
         <div *ngIf="valid" class="alert alert-warning alert-dismissible fade show" role="alert">
               <strong>UserName or Password invalid!!</strong> 
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div> 
        <form [formGroup]="signupSecondForm" #userForm="ngForm" (ngSubmit)="signup()">
          
        
          <div class="form-group" >
             <label>Hotel Name</label>
             
             <input type="text" [(ngModel)]="signupTwo.hotelName" class="form-control form-control-m" 
             formControlName="hname" name="hotelName" placeholder="Hotel Name">
             <span class="text-danger"  id="hotelname" *ngIf="signupSecondForm.get('hname').invalid&&userForm.submitted">
              Hotel Name is required
            </span>
        </div>
           <div class="form-group" >
              <label>Branch</label>
              
              <input [(ngModel)]="signupTwo.branch" type="text" class="form-control form-control-m"
               formControlName="hbranch" name="branch" placeholder="Branch Name">
               <span class="text-danger" id="hotelbranch" *ngIf="signupSecondForm.get('hbranch').invalid&&userForm.submitted">
                  Branch name is required
                </span>
         </div>
         <div class="form-group" >
         <label>Address</label>
         
         <!-- <input [(ngModel)]="signupTwo.address" type="text" class="form-control form-control-m"
          formControlName="haddress" name="address" placeholder="Address"> -->
          <textarea class="form-control form-control-m" rows = "4" cols = "35" name = "description"
            [(ngModel)]="signupTwo.address"  formControlName="haddress" name="address" placeholder="Address">
              Enter details here...
           </textarea>
          <span class="text-danger" id="hoteladdress" *ngIf="signupSecondForm.get('haddress').invalid&&userForm.submitted">
             Hotel Address is required
           </span>
       </div>
       <div class="form-group">
        <label>City</label>
        <br>
        <select [(ngModel)]="signupTwo.city"  class="form-control form-control-m"
               formControlName="hDistrict" name="city" placeholder="City">
               <option selected="selected">Select your district</option>
               <option *ngFor="let district of fetchAllDistrictsByState('tamilnadu')" value={{district}}>
                {{district}}
              </option>
        </select>
        <span class="text-danger" id="city" *ngIf="signupSecondForm.get('hDistrict').invalid&&userForm.submitted">
          City name is required
          </span>
      </div>
       <div class="form-group">
        <label>State</label>
        <br>
        <select  [(ngModel)]="signupTwo.state" formControlName="hState"
        name="state" class="form-control form-control-m">
        <option selected="selected">Select your state</option>
          <option *ngFor="let state of fetchAllStatesByCountry('India')" value={{state}}>
            {{state}}
          </option>
          

        </select>
        <span class="text-danger" id="hotelState" *ngIf="signupSecondForm.get('hState').invalid&&userForm.submitted">
          Hotel State is required
        </span>
      </div>
       <div class="form-group" >
        <label>Pincode</label>
        <input [(ngModel)]="signupTwo.pincode" type="number" class="form-control form-control-m"
         formControlName="hpincode" name="pincode" placeholder="Pincode">
         <span class="text-danger" id="pincode" *ngIf="signupSecondForm.get('hpincode').invalid&&userForm.submitted
           &&signupSecondForm.get('hpincode').errors?.required">Pincode is required
          </span>
          <span class="text-danger" *ngIf="signupSecondForm.get('hpincode').errors?.pattern &&  (signupSecondForm.get('hpincode').dirty || 
          signupSecondForm.get('hpincode').touched)">Pincode must be 6 digits 
          </span>
        </div>
    <div class="below-links">
      <div class="col-md-12 text-center ">
         <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">signup</button>
      </div>
   </div>
</form>
     </div>
  </div>
</div>


