<!--The content below is only a placeholder and can be replaced.-->
<div class="sidenav">
  <div class="login-main-text">
     <h2><b>Domorespices</b></h2>
     <p>Login or register from here to access.</p>
  </div>
</div>

<div class="main align-item-center">
  <div class="col-md-8 col-sm-12">
    <div class="login-form myform">
         <div *ngIf="valid" class="alert alert-warning alert-dismissible fade show" role="alert">
               <strong>UserName or Password invalid!!</strong>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
        <form [formGroup]="signupFirstPage" #userForm="ngForm" (ngSubmit)="signup()">
           <div class="form-group" >
              <label>First Name</label>

              <input type="text" [(ngModel)]="singnupPage.fristName" class="form-control form-control-m"
              formControlName="firstName" name="fristName" placeholder="First name">
              <span class="help-block"  id="fristName" *ngIf="signupFirstPage.get('firstName').invalid&&userForm.submitted">
               Firstname is required
             </span>
         </div>
           <div class="form-group" >
              <label>Last Name</label>

              <input [(ngModel)]="singnupPage.lastName" type="text" class="form-control form-control-m"
               formControlName="lastName" name="lastName" placeholder="Last name">
               <span class="help-block" id="lastName" *ngIf="signupFirstPage.get('lastName').invalid&&userForm.submitted">
                  Lastname is required
                </span>
         </div>
         <div class="form-group" >
          <label>Middle Name</label>

          <input [(ngModel)]="singnupPage.middleName" type="text" class="form-control form-control-m"
           formControlName="middleName" name="middleName" placeholder="Middle name">
           <span class="help-block" id="middleName" *ngIf="signupFirstPage.get('middleName').invalid&&userForm.submitted">
              Middle name is required
            </span>
     </div>
     <div class="form-group" >
      <label>Email</label>
      <input [(ngModel)]="singnupPage.email" type="email" class="form-control form-control-m"
       formControlName="mail" name="email" placeholder="Email" pattern="[a-zA-Z0-9.!#$%&amp;’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+">
       <span class="help-block" id="email" *ngIf="signupFirstPage.get('mail').invalid&&userForm.submitted">
          Email address is either empty or not required
        </span>
     </div>
     <div class="form-group" >
      <label>Mobile Number</label>
      <input [(ngModel)]="singnupPage.mobileNumber" type="number" class="form-control form-control-m"
       formControlName="mobileNumber" name="mobileNumber" placeholder="Mobile Number" pattern="^(\+91[\-\s]?)?[0]?(91)?[789]\d{9}$">
       <span class="help-block" id="alternateEmail" *ngIf="signupFirstPage.get('mobileNumber').invalid&&userForm.submitted">
          Mobile number is either empty or not in the right format
        </span>
     </div>
     <div class="form-group" >
      <label>Address</label>
      <input [(ngModel)]="singnupPage.address" type="text" class="form-control form-control-m"
       formControlName="userAddress" name="address" placeholder="Address">
       <span class="help-block" id="address" *ngIf="signupFirstPage.get('userAddress').invalid&&userForm.submitted">
          Address is required
        </span>
     </div>
     <div class="form-group">
      <label>City</label>
      <input [(ngModel)]="singnupPage.city" type="text" class="form-control form-control-m"
       formControlName="userCity" name="city" placeholder="City">
       <span class="help-block" id="city" *ngIf="signupFirstPage.get('userCity').invalid&&userForm.submitted">
          City name is required
        </span>
     </div>
     <div class="form-group">
      <label>Pincode</label>
      <input [(ngModel)]="singnupPage.pincode" type="number" class="form-control form-control-m"
       formControlName="userPincode" name="pincode" placeholder="Pincode">
       <span class="help-block" id="pincode" *ngIf="signupFirstPage.get('userPincode').invalid&&userForm.submitted">
          Pincode is required
        </span>
     </div>
     <div class="form-group">
      <label>State</label>
      <input [(ngModel)]="singnupPage.state" type="text" class="form-control form-control-m"
       formControlName="userState" name="state" placeholder="State">
       <span class="help-block" id="state" *ngIf="signupFirstPage.get('userState').invalid&&userForm.submitted">
          State name is required
        </span>
     </div>
     <div class="form-group">
      <label>Country</label>
      <input [(ngModel)]="singnupPage.country" type="text" class="form-control form-control-m"
       formControlName="userCountry" name="country" placeholder="County">
       <span class="help-block" id="country" *ngIf="signupFirstPage.get('userCountry').invalid&&userForm.submitted">
          Country name is required
        </span>
     </div>
         <div class="below-links">
         <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">next</button>
         </div>

      </div>
        </form>
     </div>
  </div>
</div>



