<!--The content below is only a placeholder and can be replaced.-->
<div class="sidenav">
  <div class="login-main-text">
     <h2><b>Domorespices</b></h2>
     <p>Login or register from here to access.</p>
  </div>
</div>

<div class="main align-item-center">
  <div class="col-md-8 col-sm-12">
    <div class="login-form myform">
         <div *ngIf="valid" class="alert alert-warning alert-dismissible fade show" role="alert">
               <strong>UserName or Password invalid!!</strong> 
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div> 
        <form [formGroup]="signupFristPage" #userForm="ngForm" (ngSubmit)="signup()">
           <div class="form-group" >
              <label>First Name</label>
              
              <input type="text" [(ngModel)]="singnupPage.fristName" class="form-control form-control-m" 
              formControlName="fname" name="fristName" placeholder="First name">
              <span class="help-block"  id="userName" *ngIf="signupFristPage.get('fname').invalid&&userForm.submitted">
               Firstname is required
             </span>
         </div>
           <div class="form-group" >
              <label>Last Name</label>
              
              <input [(ngModel)]="singnupPage.lastName" type="text" class="form-control form-control-m"
               formControlName="lname" name="lastName" placeholder="Last name">
               <span class="help-block" id="userName" *ngIf="signupFristPage.get('lname').invalid&&userForm.submitted">
                  Lastname is required
                </span>
         </div>
         <div class="form-group" >
          <label>Middle Name</label>
          
          <input [(ngModel)]="singnupPage.middleName" type="text" class="form-control form-control-m"
           formControlName="mname" name="middleName" placeholder="Middle name">
           <span class="help-block" id="userName" *ngIf="signupFristPage.get('mname').invalid&&userForm.submitted">
              Middle name is required
            </span>
     </div>
     <div class="form-group" >
      <label>Email</label>
      <input [(ngModel)]="singnupPage.email" type="email" class="form-control form-control-m"
       formControlName="mail" name="email" placeholder="Email">
       <span class="help-block" id="userName" *ngIf="signupFristPage.get('mail').invalid&&userForm.submitted">
          Email is required
        </span>
     </div>
     <div class="form-group" >
      <label>Alternate Email</label>
      <input [(ngModel)]="singnupPage.alternateEmail" type="email" class="form-control form-control-m"
       formControlName="alternateMail" name="alternateEmail" placeholder="Alternate email">
       <span class="help-block" id="userName" *ngIf="signupFristPage.get('alternateMail').invalid&&userForm.submitted">
          Alternate email is required
        </span>
     </div>
     <div class="form-group" >
      <label>Address</label>
      <input [(ngModel)]="singnupPage.address" type="text" class="form-control form-control-m"
       formControlName="userAddress" name="address" placeholder="Address">
       <span class="help-block" id="userName" *ngIf="signupFristPage.get('userAddress').invalid&&userForm.submitted">
          Address is required
        </span>
     </div>
     <div class="form-group">
      <label>City</label>
      <input [(ngModel)]="singnupPage.city" type="text" class="form-control form-control-m"
       formControlName="userCity" name="city" placeholder="City">
       <span class="help-block" id="userName" *ngIf="signupFristPage.get('userCity').invalid&&userForm.submitted">
          City name is required
        </span>
     </div>
     <div class="form-group">
      <label>Pincode</label>
      <input [(ngModel)]="singnupPage.pincode" type="text" class="form-control form-control-m"
       formControlName="userPincode" name="pincode" placeholder="Pincode">
       <span class="help-block" id="userName" *ngIf="signupFristPage.get('userPincode').invalid&&userForm.submitted">
          Pincode is required
        </span>
     </div>
     <div class="form-group">
      <label>State</label>
      <input [(ngModel)]="singnupPage.state" type="text" class="form-control form-control-m"
       formControlName="userState" name="state" placeholder="State">
       <span class="help-block" id="userName" *ngIf="signupFristPage.get('userState').invalid&&userForm.submitted">
          State name is required
        </span>
     </div>
     <div class="form-group">
      <label>Country</label>
      <input [(ngModel)]="singnupPage.country" type="text" class="form-control form-control-m"
       formControlName="userCountry" name="country" placeholder="County">
       <span class="help-block" id="userName" *ngIf="signupFristPage.get('userCountry').invalid&&userForm.submitted">
          Country name is required
        </span>
     </div>
         <div class="below-links">
         <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">signup</button>
         </div>
         
      </div>
         <div class="form-group">
            <p class="text-center">Don't have account? <a href="signupFirst" id="signup">Sign up here</a></p>
         </div>
     
        </form>
     </div>
  </div>
</div>



