<!--The content below is only a placeholder and can be replaced.-->
<div class="sidenav">
  <div class="login-main-text">
     <h2><b>Do More Spices</b></h2>
     <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-8 col-sm-12">
     <div class="login-form myform">
        <form>
           <div class="form-group">
              <label>User Name</label>
              <input type="text" class="form-control form-control-m" placeholder="User Name">
           </div>
           <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control form-control-m" placeholder="Password">
           </div>
           <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
         </div>
         <div class="col-md-12 ">
          <div class="login-or">
             <hr class="hr-or">
             <span class="span-or">or</span>
          </div>
         <div class="col-md-12 mb-3">
            <p class="text-center">
               <a href="" class="google btn mybtn"><i class="fa fa-google-plus">
               </i> Signup using Google
               </a>
            </p>
         </div>
         
       </div>
         <div class="form-group">
            <p class="text-center">Don't have account? <a href="#" id="signup">Sign up here</a></p>
         </div>
         
        </form>
     </div>
  </div>
</div>
<router-outlet></router-outlet>
